* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px;
}

/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/**********/
/* HEADER */
/**********/

header {
  height: 80px;
  background-color: thistle;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family:'Courier New', Courier, monospace;
  color: teal;
  font-size: 36px;
  padding: 10px;
  margin-left: 30px;
}

/*******/
/* NAV */
/*******/

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

nav li {
  padding: 10px 20px;
}

nav ul li a {
  font-size: 18px;
  text-decoration: none;
  padding: 10px 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: teal;
}

nav ul li a:hover {
  color: thistle;
  background-color: teal;
  border-radius: 50px;
}

/*********/
/* ABOUT */
/*********/

.about-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: slide_in_up 1s ease;
}

#about {
  padding-top: 40px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  color: teal;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-content img {
  width: 350px;
  height: auto;
  padding: 20px 40px 20px 40px;
  border-radius: 75px;
}

.about-content p {
  background-color: aquamarine;
  padding: 30px;
  margin-right: 40px;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  line-height: 1.5em;
}

/***********/
/* CONTACT */
/***********/

.contact-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 20vw;
  animation: slide_in_up 1s ease;
}

#contact-title {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  color: teal;
}

#contact-title h1 {
  font-size: 35px;
  white-space: nowrap;
}

#contact-form {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  background-color: aquamarine;
}

#contact-form button {
  font-size: 20px;
  width: 30%;
  margin: 0 0 20px 40px;
}

.form-input {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 20px;
  line-height: 1.5em;
}

.form-input label {
  font-size: larger;
  padding-bottom: 10px;
}

.form-input input {
  font-size: 20px;
  line-height: 2em;
}

.form-input textarea {
  width: 600px;
	height: 120px;
	padding: 5px;
  margin-bottom: 20px;
}

.err-text {
  font-size: 24px;
  margin: 0 0 10px 40px;
}

/**********/
/* RESUME */
/**********/

.resume-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 20vw;
  margin-bottom: 20px;
  animation: slide_in_up 1s ease;
}

#resume-title {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  color: teal;
}

#resume-title h1 {
  font-size: 35px;
}

.prof-list-container {
  padding: 20px 40px;
  border-radius: 50px;
  background-color: aquamarine;
}

.prof-list-container a {
  color: teal;
  text-decoration: none;
  text-align: center;
}

.prof-list-container a h3 {
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 5px;
  border-top: 2px solid black;
}

.prof-list-title {
  font-size: 28px;
  padding: 0 15px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}

.prof-list {
  list-style: none;
}

.prof-list li {
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

/*************/
/* PORTFOLIO */
/*************/

.portfolio {
  animation: slide_in_up 1s ease;
  margin-bottom: 20px;
}

.portfolio-title {
  font-size: 35px;
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-top: 40px;
  color: teal;
}

/***********/
/* PROJECT */
/***********/

#project-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  width: fit-content;
  padding: 20px;
  margin: 20px;
  background-color: turquoise;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project img {
  position: relative;
  height: 180px;
  width: 300px;
  border: 2px solid black;
  border-radius: 25px;
}

.project-title {
  font-size: 26px;
  padding: 20px 0;
}

.project-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 100px;
  padding: 0px 20px;
  width: 320px;
}

.project-links {
  margin-top: 15px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-links a {
  font-size: 250%;
  color: black;
}

.project-links div:hover {
  animation: shake 0.4s ease;
}

/**********/
/* FOOTER */
/**********/

footer {
  background-color: thistle;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  width: 100vw;
  bottom: 0;
}

footer, .push {
  height: 80px;
}

footer a {
  color: teal;
  font-size: 40px;
  margin-top: 10px;
}

/*****************/
/* MEDIA QUERIES */
/*****************/

@media only screen and (max-width: 885px) {
  header {
    height: 120px;
    justify-content: center;
    flex-direction: column;
  }

  header h1 {
    margin-left: 0px;
  }

  nav ul {
    margin-bottom: 10px;
  }

  .about-content {
    flex-direction: column;
    justify-content: center;
  }

  .about-content p {
    margin: 0 40px 30px 40px;
  }

  .form-input {
    line-height: 1;
    padding-bottom: 0px;
  }

  .form-input input {
    line-height: 1.5em;
  }

  .form-input textarea {
    width: 300px;
  }

  .err-text {
    font-size: 20px;
    margin-left: 40px;
  }
}

@media only screen and (max-width: 568px) {
  nav ul {
    justify-content: center;
  }

  nav li {
    padding: 10px 0px;
  }

  nav ul li a {
    padding: 10px 5px;
  }

  #contact-form {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 440px) {
  .form-input {
    margin: 0px 5px; 
  }

  .form-input textarea {
    width: 220px;
  }

  .project img {
    height: 140px;
    width: 230px;
  }

  .project-desc {
    height: 120px;
    width: 250px;
  }

  .project-links {
    width: 230px;
  }
}

/*************/
/* KEYFRAMES */
/*************/

@keyframes slide_in_right {
  0% {
    opacity: 0;
    transform: translateX(800px);
  }
  50% {
    opacity: 0.75;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slide_in_up {
  0% {
    opacity: 0;
    transform: translateY(800px);
  }
  50% {
    opacity: 0.75;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(20deg);
  }
  66% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}